<div id="slide">

  <div class="banner b_skills">
    <a href="skills.html"><img src="images/imac_skills.png" alt="View my skills" class="imac" /></a>
    <div class="banner_content">
      <h1>I craft simple and effective software tailor-made for your business.</h1>
      <h2>With over nine years of experience I have formed a flexible and agile approach to software development. This allows me to take on each new project with a fresh outlook and the right technologies. <a href="skills.html">View my skills</a></h2>
    </div>
  </div>

  <div class="banner b_portfolio">
    <a href="portfolio.html"><img src="images/imac_portfolio.png" alt="View my portfolio" class="imac" /></a>
    <div class="banner_content">
      <h1>A variety of experiences in software development.</h1>
      <h2>I have worked on a wide range of applications. From small-scale content websites to full-blown database driven apps. This means that whatever your needs are, I have the solution for you. <a href="portfolio.html">View my portfolio</a></h2>
    </div>
  </div>

  <div class="banner b_planning">
    <a href="skills.html"><img src="images/imac_planning.png" alt="View my skills" class="imac" /></a>
    <div class="banner_content">
      <h1>A development cylcle that doesn't hurt.</h1>
      <h2>I employ agile methodologies as part of an iterative planning, development and feedback cycle. This means that the most important functionality is always completed first and everyone is on the same page. <a href="skills.html">View my skills</a></h2>
    </div>
  </div>

</div>

<div id="testimonials" class="box">
  <h2>Testimonials</h2>
  <div class="testimonial">
    <div class="testimonial_text">
      He has a razor sharp mind and tenacity for problem solving that time and time again led to breakthrough solutions across the business. 
    </div>
    <div class="testimonial_client">
      Steve Walls - One Big Voice
    </div>
  </div>
  <div class="testimonial">
    <div class="testimonial_text">
      It's been an awesome experience working<br/ > with Giles so far. I am in awe of his skills and abilities, mindset and focus.
    </div>
    <div class="testimonial_client">
      Louis Latty - Glory League
    </div>
  </div>
  <div class="testimonial" style="margin-right: 0">
    <div class="testimonial_text">
      It has been a pleasure working with Giles to develop our company website. He is responsive, efficient and professional.
    </div>
    <div class="testimonial_client">
      Tim White – edLead Consulting
    </div>
  </div>
  <div class="clear"></div>
</div>