<div id="slide">

      <div class="banner b_skills">
        <a href="skills.html"><img src="images/imac_skills.png" alt="View my skills" class="imac" /></a>
        <div class="banner_content">
          <h1>I craft simple and effective websites tailor-made for your business.</h1>
          <h2>With eight years of web experience I have formed a flexible and agile approach to web development. This allows me to take on each new project with a fresh outlook and the right technologies. <a href="skills.html">View my skills</a></h2>
        </div>
      </div>

      <div class="banner b_portfolio">
        <a href="portfolio.html"><img src="images/imac_portfolio.png" alt="View my portfolio" class="imac" /></a>
        <div class="banner_content">
          <h1>A background of variety in web development.</h1>
          <h2>I have worked on a wide variety of websites and web applications. From small-scale content websites to full-blown database driven applications. This means that whatever your needs are, I have the solution for you. <a href="portfolio.html">View my portfolio</a></h2>
        </div>
      </div>

  </div>

  <div id="testimonials" class="box">
    <h2>Testimonials</h2>
    <div class="testimonial">
      <div class="testimonial_text">
        He has a razor sharp mind and tenacity for problem solving that time and time again led to breakthrough solutions across the business. 
      </div>
      <div class="testimonial_client">
        Steve Walls - One Big Voice
      </div>
    </div>
    <div class="testimonial">
      <div class="testimonial_text">
        It has been a pleasure working with Giles to develop our company website. He is responsive, efficient and professional.
      </div>
      <div class="testimonial_client">
        Tim White – edLead Consulting
      </div>
    </div>
    <div class="testimonial" style="margin-right: 0">
      <div class="testimonial_text">
        Giles has listened to what we wanted and created the perfect backend for our product. We are very happy with the result.
      </div>
      <div class="testimonial_client">
        George Parker - Briefly.co.nz
      </div>
    </div>
    <div class="clear"></div>
  </div>