---
title: Portfolio
---

<div class="portfolio box">
	<a target="_blank" href="http://gloryleague.co.nz"><img width="241" height="201" class="portfolio_image" src="images/gloryleague.jpg" alt="Glory League Stats" /></a>
	<h2>Glory League</h2>
	An online basketball platform I manage the developoment of. The core of the application is a database of games, players, teams, coaches, leagues, and associations.<br /><br />

	<ul>
		<li>Full backend for client access to all data</li>
		<li>Live, fully-integrated HTML5 tablet application for scoring basketball games</li>
		<li>Portal website for players to view all historical stats</li>
		<li>Automated game video recording system using network cameras</li>
	</ul>
</div>

<div class="portfolio box">
	<a target="_blank" href="http://onebigvoice.com"><img width="241" height="201" class="portfolio_image" src="images/onebigvoice.jpg" alt="One Big Voice" /></a>
	<h2>One Big Voice</h2>
	One Big Voice is the platform for social change. Our tools make it easy to share information, enlist supporters, raise money, build awareness and lead action.<br /><br />

	I work on One Big Voice as part of a small team; on full-stack web development and at a leadership level.<br /><br />

	<ul>
		<li>Stakeholder tool listing elected representatives, business owners, and other organisations</li>
		<li>Microfunding for both regular fundraising and raising money to buy media</li>
		<li>Full integration with Twitter and Facebook</li>
		<li>Scalable infrastructure hosted in the cloud on Amazon Web Services</li>
	</ul>
</div>

<div class="portfolio box">
	<a target="_blank" href="http://ferg.tv"><img width="241" height="201" class="portfolio_image" src="images/fergtv.jpg" alt="Ferg.tv" /></a>
	<h2>Ferg.tv</h2>
	Ferg.tv is an artist's portfolio website featuring both photography and videos. I worked closely with Fergus on both design and functionality, we even used his own scanned handwriting for all text content. The site features a very stripped back WordPress theme in order to draw focus to the content itself. Fergus uses the backend of the website himself to manage all content.<br /><br />
	
	<ul>
		<li>Custom wordpress template</li>
		<li>Custom JQuery galleries</li>
	</ul>
</div>

<div class="portfolio box">
	<a target="_blank" href="http://delhivillage.org.nz"><img width="241" height="201" class="portfolio_image" src="images/delhi.jpg" alt="Delhi Village Eco Village / Co-Housing Project" /></a>
	<h2>Delhi Village</h2>
	A simple website I created for an eco-village / co-housing project starting up in Whanganui.  The site runs on WordPress with a custom template. The Delhi Village stakeholders each have an individual account that they can post news from. The stakeholders have also appointed their own administrator to edit the website content from the WordPress backend.<br /><br />
	
	<ul>
		<li>Custom wordpress template</li>
		<li>Search Engine Optimised content</li>
	</ul>
</div>

<div class="portfolio box">
	<a target="_blank" href="http://richardthompson.co.nz"><img width="241" height="201" class="portfolio_image" src="images/richard.jpg" alt="Richard Thompson - Consultant" /></a>
	<h2>Richard Thompson</h2>
	A very simple content website for an independent consultant. The site features a clean and simple layout and a custom backend from which Richard can edit his website content.  <br /><br />
	
	<ul>
		<li>Custom backend for managing website content</li>
	</ul>
</div>

<div class="portfolio box">
	<a target="_blank" href="http://briefly.co.nz"><img width="241" height="201" class="portfolio_image" src="images/briefly.jpg" alt="Briefly - Everything you need to know and nothing you don't" /></a>
	<h2>Briefly.co.nz</h2>
	Briefly is a concept for a new type of news website. The site runs on a custom Ruby on Rails backend, which allows my clients to easily add, remove and reorder news as it breaks. The backend also features image cropping functionality. Anther key feature of Briefly is the keyboard navigation on the front end; users can easily move between posts using the j and k keys.<br /><br />
	<ul>
  	<li>Custom Ruby on Rails backend</li>
    <li>Image cropping functionality</li>
    <li>Keyboard navigation</li>
	</ul>
</div>

<div class="portfolio box">
	<a target="_blank" href="http://papaiti.com"><img class="portfolio_image" width="241" height="201" src="images/papaiti.jpg" alt="Papaiti Records - Download Free MP3s" /></a>
	<h2>Papaiti Records</h2>
	I created this website for myself. It is a completely free online record label. Running in Ruby on Rails, Papaiti Records features an extensive backend for managing the artists, bootlegs, events and news.<br /><br />

  <ul>
		<li>Custom Ruby on Rails backend for managing all content</li>
	</ul>
</div>