---
title: Skills
---
			
<div id="skills" class="box">
	<h2>My skills</h2>
	<img src="images/skills-1.jpg" class="skills_image" alt="HTML, Ruby on Rails, Photoshop" width="56" height="195" />
	<div class="skills_column">
		<strong>HTML and CSS</strong><br />
		I hand code light, semantic and standards complaint HTML coupled with structured CSS/SASS stylesheets.<br />
		<br />
		<strong>Ruby on Rails</strong><br />
		Rails is my web framework of choice. It allows me to develop dynamic, database driven websites quickly and flexibly.<br />
		<br />
		<strong>Photoshop</strong> <br />
		Adobe Photoshop is my preferred tool for image optimisation, web prototyping and pixel-perfect design.
	</div>
	<img src="images/skills-2.jpg" class="skills_image" alt="JavaScript, PHP, MySQL" width="60" height="195" />
	<div class="skills_column" style="margin-right: 0;">
		<strong>CoffeeScript</strong><br />
		I prefer to write class-based JavaScipt using CoffeeScript. I am very familiar with the JQuery framework.<br />
		<br />
		<strong>PHP</strong><br />
		I am competent at using PHP to create flexible dynamic web applications.<br />
		<br />
		<strong>SQL</strong><br />
		My database of choice is Postgresql. I am comfortable writing SQL on a command line.


		
	</div>
</div>
<div class="clear"></div>